In [78]:
from data_processing.dataset import DriftPairDataset, DriftPairDataset_Wo_Computation

csvfile_train = '/data/manon/MasterThesis/NOAA/nextpoint_ds/contexts/pt32d50/next_point_dataset_test_ok.csv'
train_dataset = DriftPairDataset_Wo_Computation(csvfile_train)

In [79]:
import pandas as pd

df = pd.read_csv(csvfile_train)

In [65]:
df.head()

,Unnamed: 0.1,Unnamed: 0,Latitude_init,Longitude_init,time_init,Latitude_final,Longitude_final,Lat_phys,Lon_phys,PATH_CONTEXT
0,0,0,-1.30465,-143.95827,93193.0,-1.29029,-143.97069,-1.288710,-143.983643,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
1,1,1,-1.31822,-143.94612,93192.0,-1.30465,-143.95827,-1.302220,-143.970917,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
2,2,2,-1.33234,-143.93355,93191.0,-1.31822,-143.94612,-1.316196,-143.957779,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
3,3,3,-1.34691,-143.91790,93190.0,-1.33234,-143.93355,-1.330524,-143.941528,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
4,4,4,-1.36117,-143.90271,93189.0,-1.34691,-143.91790,-1.344208,-143.925827,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...

In [21]:
import torch
import numpy as np

def check_context(context_path):
    with open(context_path, 'rb') as f:
        context = np.load(f)
    context = torch.from_numpy(context.astype(np.float32))
    return torch.isnan(context).any()


df['Nans'] = df['PATH_CONTEXT'].apply(lambda x: check_context(x))

In [22]:
df.head()

,Unnamed: 0,Latitude_init,Longitude_init,time_init,Latitude_final,Longitude_final,Lat_phys,Lon_phys,PATH_CONTEXT,Nans
0,0,-13.20254,84.84857,155365.0,-13.20704,84.84605,-13.210443,84.836899,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...,tensor(False)
1,1,-13.19797,84.85100,155364.0,-13.20254,84.84857,-13.205439,84.838837,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...,tensor(False)
2,2,-13.19349,84.85348,155363.0,-13.19797,84.85100,-13.200193,84.840378,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...,tensor(False)
3,3,-13.18876,84.85592,155362.0,-13.19349,84.85348,-13.194340,84.841446,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...,tensor(False)
4,4,-13.18343,84.85862,155361.0,-13.18876,84.85592,-13.187697,84.842560,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...,tensor(False)

In [23]:
df_ok = df[df['Nans']==False]

print(len(df), len(df_ok))

6984 6974

In [24]:
df_ok.drop(columns = ['Nans'], inplace=True)
df_ok.head()

/tmp/ipykernel_12307/971541523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ok.drop(columns = ['Nans'], inplace=True)

,Unnamed: 0,Latitude_init,Longitude_init,time_init,Latitude_final,Longitude_final,Lat_phys,Lon_phys,PATH_CONTEXT
0,0,-13.20254,84.84857,155365.0,-13.20704,84.84605,-13.210443,84.836899,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
1,1,-13.19797,84.85100,155364.0,-13.20254,84.84857,-13.205439,84.838837,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
2,2,-13.19349,84.85348,155363.0,-13.19797,84.85100,-13.200193,84.840378,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
3,3,-13.18876,84.85592,155362.0,-13.19349,84.85348,-13.194340,84.841446,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
4,4,-13.18343,84.85862,155361.0,-13.18876,84.85592,-13.187697,84.842560,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...

In [25]:
saving_path = '/data/manon/MasterThesis/NOAA/nextpoint_ds/contexts/pt32d50/next_point_dataset_test_ok.csv'
df_ok.to_csv(saving_path)

In [80]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0,Latitude_init,Longitude_init,time_init,Latitude_final,Longitude_final,Lat_phys,Lon_phys,PATH_CONTEXT
0,0,0,-13.20254,84.84857,155365.0,-13.20704,84.84605,-13.210443,84.836899,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
1,1,1,-13.19797,84.85100,155364.0,-13.20254,84.84857,-13.205439,84.838837,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
2,2,2,-13.19349,84.85348,155363.0,-13.19797,84.85100,-13.200193,84.840378,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
3,3,3,-13.18876,84.85592,155362.0,-13.19349,84.85348,-13.194340,84.841446,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
4,4,4,-13.18343,84.85862,155361.0,-13.18876,84.85592,-13.187697,84.842560,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
5,5,5,-13.17749,84.86104,155360.0,-13.18343,84.85862,-13.180964,84.844765,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
6,6,6,-13.17143,84.86324,155359.0,-13.17749,84.86104,-13.174891,84.848343,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
7,7,7,-13.16571,84.86588,155358.0,-13.17143,84.86324,-13.169249,84.852394,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
8,8,8,-13.16075,84.86896,155357.0,-13.16571,84.86588,-13.164646,84.857094,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...
9,9,9,-13.15628,84.87076,155356.0,-13.16075,84.86896,-13.160766,84.860725,/data/manon/MasterThesis/NOAA/nextpoint_ds/con...

In [81]:
df['PREVIOUS_PATH_CONTEXT'] = df['PATH_CONTEXT'].shift(-1)
df['Latitude_prev'] = df['Latitude_init'].shift(-1)
df['Longitude_prev'] = df['Longitude_init'].shift(-1)

In [82]:
condition = (df['Latitude_final'].shift(-1)==df['Latitude_init']) & (df['Longitude_final'].shift(-1)==df['Longitude_init']) 
df_previous = df.where(condition)

In [83]:
df_previous = df_previous.dropna()

In [4]:
from data_driven.models.trajectory_model import Trajectory_Model_Dyn
from data_processing.dataset import TrajectoryDataset_Dynamic
from torch.utils.data import DataLoader


train_dataset = TrajectoryDataset_Dynamic('/data/manon/MasterThesis/NOAA/nextpoint_ds/contexts/pt32d50/next_point_dataset_train_trajectory.csv')

train_loader = DataLoader(train_dataset, batch_size=4, shuffle=True, num_workers=32, pin_memory=True) 

model = Trajectory_Model_Dyn().to('cuda')

/home/manon/miniconda3/envs/drift/lib/python3.8/site-packages/torch/utils/data/dataloader.py:557: UserWarning: This DataLoader will create 32 worker processes in total. Our suggested max number of worker in current system is 24, which is smaller than what this DataLoader is going to create. Please be aware that excessive worker creation might get DataLoader running slow or even freeze, lower the worker number to avoid potential slowness/freeze if necessary.
  warnings.warn(_create_warning_msg(

In [7]:
pos0, pos1, pos2, pos3, time0, config = next(iter(train_loader))

In [8]:
test_pos = model(pos0, time0, config)

[{'PATH_DRIFT': '/data/manon/MasterThesis/NOAA/trajectories/traj_300234063348700.csv', 'PATH_WATER': '/data/manon/MasterThesis/HYCOM/HYCOM_traj_300234063348700.nc4', 'PATH_WAVES': '/data/manon/MasterThesis/ERA5_Waves/Waves_traj_300234063348700.nc', 'PATH_WIND': '/data/manon/MasterThesis/ERA5_Wind/Wind_traj_300234063348700.nc', 'max_lat': tensor(11), 'max_lon': tensor(57), 'min_lat': tensor(5), 'min_lon': tensor(52)}, {'PATH_DRIFT': '/data/manon/MasterThesis/NOAA/trajectories/traj_44126.csv', 'PATH_WATER': '/data/manon/MasterThesis/HYCOM/HYCOM_traj_44126.nc4', 'PATH_WAVES': '/data/manon/MasterThesis/ERA5_Waves/Waves_traj_44126.nc', 'PATH_WIND': '/data/manon/MasterThesis/ERA5_Wind/Wind_traj_44126.nc', 'max_lat': tensor(-20), 'max_lon': tensor(-36), 'min_lat': tensor(-24), 'min_lon': tensor(-39)}, {'PATH_DRIFT': '/data/manon/MasterThesis/NOAA/trajectories/traj_52858.csv', 'PATH_WATER': '/data/manon/MasterThesis/HYCOM/HYCOM_traj_52858.nc4', 'PATH_WAVES': '/data/manon/MasterThesis/ERA5_Waves/Waves_traj_52858.nc', 'PATH_WIND': '/data/manon/MasterThesis/ERA5_Wind/Wind_traj_52858.nc', 'max_lat': tensor(-1), 'max_lon': tensor(-32), 'min_lat': tensor(-4), 'min_lon': tensor(-35)}, {'PATH_DRIFT': '/data/manon/MasterThesis/NOAA/trajectories/traj_145680.csv', 'PATH_WATER': '/data/manon/MasterThesis/HYCOM/HYCOM_traj_145680.nc4', 'PATH_WAVES': '/data/manon/MasterThesis/ERA5_Waves/Waves_traj_145680.nc', 'PATH_WIND': '/data/manon/MasterThesis/ERA5_Wind/Wind_traj_145680.nc', 'max_lat': tensor(-11), 'max_lon': tensor(-170), 'min_lat': tensor(-14), 'min_lon': tensor(-173)}]

In [9]:
test_pos

tensor([[   8.5959,   54.3157],
        [ -21.8200,  -36.8623],
        [  -2.2124,  -33.4339],
        [ -12.5492, -172.4879]], device='cuda:0', grad_fn=<AddBackward0>)

In [10]:
pos0

tensor([[   8.6389,   55.1452],
        [ -22.0179,  -37.0154],
        [  -2.0370,  -33.3083],
        [ -12.2137, -171.8569]])